/* pages/home/salary/home.wxss */
.page-card-box {
  position: relative;
  margin: 5rpx 20rpx 60rpx;
  .page-card-view {
      position: relative;
      padding: 20rpx 30rpx;
      border-radius: 24rpx;
      display: flex;
      z-index: 2;
      .left-view {
          position: relative;
          height: 202rpx;
          padding: 20rpx 0;
          flex: 1;
      }
      .right-view {
          position: relative;
          height: 202rpx;
          width: 180rpx;
          text-align: center;
          margin-left: 90rpx;
          image {
              position: absolute;
              width: 260rpx;
              height: 260rpx;
              top: -85rpx;
              left: -40rpx;
              filter: drop-shadow(var(--ui-Shadow-lg));
              -webkit-filter: drop-shadow(var(--ui-Shadow-lg));
          }
          .text {
              position: absolute;
              bottom: 8rpx;
              width: 100%;
          }
          &:before {
              position: absolute;
              content: "";
              height: 190rpx;
              width: 2rpx;
              left: -40rpx;
              top: 33rpx;
              background-image: linear-gradient(0deg, #ffffffbf, #0166eb00);
          }
      }
  }
  .page-card-sub {
      position: relative;
      margin: 0 40rpx;
      padding: 18rpx 30rpx;
      border-radius: 0 0 30rpx 30rpx;
      z-index: 1;
      text {
          z-index: 3;
      }
  }
}

.ui-container {
  position: relative;
  padding-left: 20rpx;
  padding-right: 20rpx;
  .test-doc-card {
      position: relative;
      border-radius: 24rpx;
      padding: 30rpx;
      height: 160rpx;
      .content {
          position: relative;
          height: 100%;
          z-index: 2;
          .name {
              position: absolute;
              bottom: 0;
              right: 0;
          }
      }
  }
}