@import './mp-cu/colorUI/scss/ui';
@import './mp-cu/icon/doc';

.page-card-box {
  position: relative;
  margin: 5rpx 24rpx 60rpx;

  .page-card-view {
    position: relative;
    padding: 20rpx 30rpx;
    border-radius: 24rpx;
    display: flex;
    z-index: 2;

    &:after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 24rpx;
      border: 1px solid rgba(255, 255, 255, 0.18);
      z-index: -1;
    }

    .left-view {
      position: relative;
      height: 202rpx;
      padding: 10rpx 0;
      flex: 1;
    }

    .right-view {
      position: relative;
      height: 202rpx;
      width: 180rpx;
      text-align: center;
      margin-left: 90rpx;

      image {
        position: absolute;
        width: 260rpx;
        height: 260rpx;
        top: -85rpx;
        left: -40rpx;
        filter: drop-shadow(var(--ui-Shadow-lg));
        -webkit-filter: drop-shadow(var(--ui-Shadow-lg));
      }

      .text {
        position: absolute;
        bottom: 8rpx;
        width: 100%;
      }

      &:before {
        position: absolute;
        content: "";
        height: 190rpx;
        width: 2rpx;
        left: -40rpx;
        top: 33rpx;
        background-image: linear-gradient(0deg, #ffffffbf, #0166eb00);
      }
    }
  }

  .page-card-sub {
    position: relative;
    margin: 0 40rpx;
    padding: 18rpx 30rpx;
    border-radius: 0 0 30rpx 30rpx;
    z-index: 1;

    text {
      z-index: 3;
    }
  }
}


/* ==================
         模态窗口
 ==================== */

.cu-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1110;
  opacity: 0;
  outline: 0;
  text-align: center;
  -ms-transform: scale(1.185);
  transform: scale(1.185);
  backface-visibility: hidden;
  perspective: 2000rpx;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out 0s;
  pointer-events: none;
}

.cu-modal::before {
  content: "\200B";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.cu-modal.show {
  opacity: 1;
  transition-duration: 0.3s;
  -ms-transform: scale(1);
  transform: scale(1);
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
}

.cu-dialog {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 680rpx;
  max-width: 100%;
  background-color: #f8f8f8;
  border-radius: 10rpx;
  overflow: hidden;
}

.cu-modal.bottom-modal::before {
  vertical-align: bottom;
}

.cu-modal.bottom-modal .cu-dialog {
  width: 100%;
  border-radius: 0;
}

.cu-modal.bottom-modal {
  margin-bottom: -1000rpx;
}

.cu-modal.bottom-modal.show {
  margin-bottom: 0;
}

.cu-modal.drawer-modal {
  transform: scale(1);
  display: flex;
}

.cu-modal.drawer-modal .cu-dialog {
  height: 100%;
  min-width: 200rpx;
  border-radius: 0;
  margin: initial;
  transition-duration: 0.3s;
}

.cu-modal.drawer-modal.justify-start .cu-dialog {
  transform: translateX(-100%);
}

.cu-modal.drawer-modal.justify-end .cu-dialog {
  transform: translateX(100%);
}

.cu-modal.drawer-modal.show .cu-dialog {
  transform: translateX(0%);
}

.cu-modal .cu-dialog>.cu-bar:first-child .action {
  min-width: 100rpx;
  margin-right: 0;
  min-height: 100rpx;
}

/* ==================
          操作条
 ==================== */

.cu-bar {
  display: flex;
  position: relative;
  align-items: center;
  min-height: 100rpx;
  justify-content: space-between;
}

.cu-bar .action {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  max-width: 100%;
}

.cu-bar .action>text[class*="cuIcon-"],
.cu-bar .action>view[class*="cuIcon-"] {
  font-size: 36rpx;
}

.cu-bar .action>text[class*="cuIcon-"]+text[class*="cuIcon-"] {
  margin-left: 0.5em;
}

.cu-bar .content {
  position: absolute;
  text-align: center;
  width: calc(100% - 340rpx);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 60rpx;
  font-size: 32rpx;
  line-height: 60rpx;
  cursor: none;
  pointer-events: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}